<div class="clr-col-12">
    <div class="content-area">
        <div class="card">
            <div class="card-header">Search for a Product - All fields are optional</div>
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
                            <form clrForm>
                                <clr-input-container>
                                    <label>Name of the Product</label>
                                    <input clrInput [(ngModel)]="searchRequest.name"  type="text" name="name" />
									<clr-control-helper>Search with the Name of the product you want to search</clr-control-helper>
                                </clr-input-container>

								<clr-input-container>
                                    <label>SKU Code of the Product</label>
                                    <input clrInput [(ngModel)]="searchRequest.SKUCode"  type="text" name="name" />
									<clr-control-helper>SKU of the product you want to search</clr-control-helper>
                                </clr-input-container>

								<clr-textarea-container>
                                    <label>Description of the Product</label>
                                    <input clrTextarea [(ngModel)]="searchRequest.description"  type="text" name="description" />
									<clr-control-helper>Write a briefly description of the product you want to search</clr-control-helper>
                                </clr-textarea-container>

								<clr-input-container>
                                    <label>Price of the Product</label>
                                    <input clrInput [(ngModel)]="searchRequest.price"  type="number" name="price" />
									<clr-control-helper>Inform the price of the product you want to search</clr-control-helper>
                                </clr-input-container>

								<clr-select-container>
                                    <label>Choose a SubCategory of this Product</label>
                                    <select clrSelect name="category" [(ngModel)]="searchRequest.subCategoryId" >
                                        <option value="" disabled selected> Select a category </option>
                                        <option *ngFor="let item of subCategoriesList" [ngValue]="item.id" placeholder = null>
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </clr-select-container>

								<clr-select-container>
                                    <label>Chosse a Category of this Product</label>
                                    <select clrSelect name="category" [(ngModel)]="searchRequest.categoryId" >
                                        <option value="" disabled selected> Select a category </option>
                                        <option *ngFor="let item of categories" [ngValue]="item.id" placeholder = null>
                                            {{ item.name }}
                                        </option>
                                    </select>
                                </clr-select-container>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success float-items-right" (click)="search()">Search</button>
                <button class="btn float-items-right" (click)="clearFields()">Clear Fields</button>
            </div>
        </div>
		<div class="card">
            <div class="card-header">Products</div>
            <div class="card-block">
                <div class="card-text">
                    <div class="clr-row">
                        <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
                            <clr-datagrid>
                                <clr-dg-column>Name</clr-dg-column>
								<clr-dg-column>Price $</clr-dg-column>
								<clr-dg-column>Description</clr-dg-column>
								<clr-dg-column>SKU Code</clr-dg-column>
								<clr-dg-column>SubCategory</clr-dg-column>
								<clr-dg-column>Category</clr-dg-column>
								<clr-dg-column>Delete Action</clr-dg-column>

                                <clr-dg-row *ngFor="let item of list" [clrDgItem]="list">
                                    <clr-dg-cell>{{item.name}}</clr-dg-cell>
									<clr-dg-cell>{{item.price}}</clr-dg-cell>
									<clr-dg-cell>{{item.description}}</clr-dg-cell>
									<clr-dg-cell>{{item.skuCode}}</clr-dg-cell>
									<clr-dg-cell>{{item.subCategory}}</clr-dg-cell>
									<clr-dg-cell>{{item.category}}</clr-dg-cell>
                                    
									<clr-dg-cell>
                                        <button class="btn btn-danger float-items-right" (click)="delete(item.id)">Delete</button>
                                    </clr-dg-cell>
                                </clr-dg-row>
                            </clr-datagrid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
